@model List<TableInfoModel>
@{
    ViewData["Title"] = "All Tables";
}

@{
    <table>
        <tbody>
          @foreach (var table in Model)
          {
              <tr>
                  <td>@table.TableId</td>
                  <td>@table.TableName</td>
                  <td>@table.Prop</td>
                  <td>@table.CreateByDate</td>
              </tr>
          }
        </tbody>
    </table>
} 
